name: Renovate

on:
  workflow_call:
  workflow_dispatch:
  # TODO add schedule and on push of renovate.yml or renovate-config

concurrency: renovate

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          owner: "demo-42"
          # The owner of the GitHub App installation
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.1
        env:
          LOG_LEVEL: debug
          # Onboarding not needed for self hosted
          RENOVATE_ONBOARDING: "false"
        with:
          configurationFile: .github/renovate-config.js
          token: '${{ steps.get_token.outputs.token }}'
          # token: ${{ secrets.RENOVATE_TOKEN }}
